*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    position: relative;
    width: 100vw;
    height: 100vh;

}
video{
    width: 100%;
}
.texto{
    position: absolute;
    width: 22%;
    height: 40%;
    top: 15%;
    left: 12%;
    border: none;
    font-family: "inter";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    opacity: 45%;
    background-color: bisque;
}
.texto::placeholder{
    color: black;
}
.texto:focus, .texto:active{
    border: none;
    outline: none;
}
.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}
.terminos p{
    font-family: "inter";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color:rgb(206, 211, 211);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}
.btn-encryptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color:rgb(0, 162, 255);
    border-radius: 25px;
    font-family: "inter";
    font-style: normal;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.btn-desencryptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background-color: azure;
    border: 1px solid;
    border-radius: 25px;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: blue;   
}
.btn-encryptar:hover , .btn-encryptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8;

}
.txtencriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    /*background-image: url(/img/pexels-kevin-ku-577585.jpg);*/
    background-size: cover;
    box-shadow: 0px 24px 32px -8px rgb(0, 0, 0, 0.08);
    border-radius: 32px;
    
}

.mensaje-encryptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 60%;
    text-align: center;
}
.mensaje-encryptado h2{
    width: 60%;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: aliceblue;
}
.mensaje-encryptado p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight:900;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.txtencriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 10%;
    opacity: 90%;
}

/* Diseño Responsivo*/
@media (max-width: 480px){
    .contenedor{
        display: flex;
        flex-direction: row;

    }
    .encryptador{
        width: 100%;

    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 65%;
    }
    .terminos p{
        font-size: 16px;

    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }


}